# Lista de ficheiros e pastas a ignorar pelo Git
# ficheiros temporários ou secretos
*.env
*.env_flaskapp
*.env_postgres
*.log
*.sqlite
*.ipynb_checkpoints/    
*.__pycache__/
*.pyc
*.pyo
*.pyd
venv/
postgres_data/
pgadmin_data/
flaskapp/download/