# This is a sample docker-compose file for a Flask application with PostgreSQL database.
services:
  flaskapp:
    container_name: ${FLASKAPP_NAME}
    #command: gunicorn -w 10 -b :5000 app:app
    #command: ./run.sh ${FLASKAPP_FILE}
    command: python ./${FLASKAPP_FILE}
    restart: unless-stopped
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./flaskapp/:/app
      - /etc/localtime:/etc/localtime:ro
    ports:
      - ${FLASKAPP_PORT}:5000
      - 5000:5000
      - 7000:5000
      - 8000:5000
      - 9000:5000
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
      #- ./.env_flaskapp
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TZ: ${TZ}
      FLASK_ENV: development  # Added environment variable for Flask environment
    networks:
      - default

  postgres:
    restart: unless-stopped
    container_name: postgres_server
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - ./.env
      #- ./.env_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
    ports:
      - 5432:5432
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  # stored in /var/lib/docker/volumes/postgres_data/_data

networks:
  default:
    name: flaskapps-network
    #external: true # uncomment this on production
    driver: bridge