{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %} {% endblock %}

{% block body %}



    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Sistema Operativo</th>
                <th>Total de Acessos</th>
                <th>Dispositivos Únicos</th>
                <th>Percentagem Total</th>
                <th>Percentagem Única</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td>{{ stat.os }}</td>
                <td>{{ stat.count }}</td>
                <td>{{ stat.unique_count }}</td>
                <td>{{ "%.2f" % stat.percentage }}%</td>
                <td>{{ "%.2f" % stat.unique_percentage }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
