{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %} {% endblock %}

{% block body %} 

      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>IP Address</th>
            <th>Timestamp</th>
            <th>User Agent</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.ip_address }}</td>
            <td>{{ record.timestamp }}</td>
            <td>{{ record.user_agent }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if records|length == 0 %}
        <div class="alert alert-info mt-3" role="alert">
          No records found.
        </div>
      {% endif %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if pagination.prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('view_records', page=pagination.prev) }}">Previous</a></li>
          {% endif %}
          <li class="page-item active"><a class="page-link" href="#">{{ pagination.curr }}</a></li>
          {% if pagination.next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('view_records', page=pagination.next) }}">Next</a></li>
          {% endif %}
        </ul>
        Page {{ pagination.curr }} of {{ pagination.pages }} - {{ pagination.records }} records
      </nav>

{% endblock %}