<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>View Records</title>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <h1 class="mt-5">Records</h1>
        </div>
        <div class="col text-right">
          <a href="#" title="Fazer Reset à Base de Dados" class="btn btn-primary mt-5" data-toggle="modal" data-target="#resetModal">☢️</a>

          <a href="{{ url_for('download', filename='records.csv') }}" class="btn btn-primary mt-5">Download</a> 
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="resetModalLabel">☢️ Reset Database</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to reset the database? This action cannot be undone.</p>
              <form id="resetForm" method="POST" action="{{ url_for('reset_database') }}">
                <div class="form-group">
                  <label for="pinInput">Enter PIN to confirm:</label>
                  <input type="password" class="form-control" id="pinInput" name="pin" placeholder="Enter PIN" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" form="resetForm" class="btn btn-danger">Reset</button>
            </div>
          </div>
        </div>
      </div>


      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>IP Address</th>
            <th>User Agent</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.timestamp }}</td>
            <td>{{ record.ip_address }}</td>
            <td>{{ record.user_agent }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if pagination.prev%}
            <li class="page-item"><a class="page-link" href="{{ url_for('view_records', page=pagination.prev) }}">Previous</a></li>
          {% endif %}
          <li class="page-item active"><a class="page-link" href="#">{{ pagination.curr }}</a></li>
          {% if pagination.next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('view_records', page=pagination.next) }}">Next</a></li>
          {% endif %}
        </ul>
        Page {{ pagination.curr }} of {{ pagination.pages }} - {{ pagination.records }} records
      </nav>
    </div>
  </body>
</html>